html,
body {
  background: pink url("/assets/bg.png") center;
  cursor: url("/assets/cursor.png"), auto;
  height: 100%;
}

header,
main {
  text-align: center;
  margin-bottom: 32px;
}

main {
    max-width: 500px;
    margin: 0 auto;
}

.links-container {
  border: 5px dotted pink;
  padding: 32px;
  background-color: #ffd8de;
}

.links {
    border: 2px dashed pink;
    margin: 0 auto;
    padding: 0;
    max-width: 55%;
    font-size: 24px;
}

li {
    list-style: none;
}

.red-bg {
  display: inline-block;
  background: #D30665;
}
.green-bg {
  display: inline-block;
  background: #ff7ab3;
}
.blue-bg {
  display: inline-block;
  background: #ffabc5;
}

#scroll-container {
  border: 3px dashed black;
  border-radius: 5px;
  overflow: hidden;
  max-height: 56px;
}

#scroll-text {
  text-align: right;
  font-size: 48px;
  min-width: 1674px;
  color: #fff;
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: scroll-text-anim 15s linear infinite;
  -webkit-animation: scroll-text-anim 15s linear infinite;
  animation: scroll-text-anim 15s linear infinite;
}

#scroll-text > div {
  padding: 8px;
}

.album {
  animation: album 4s ease 0s infinite normal forwards;
  transform: scale(0.8);
  margin-bottom: 15px;
  max-height: 256px;
}

@keyframes album {
	0%,
	100% {
		transform: scale(0.8) rotate(0deg);
		transform-origin: 50% 100%;
	}

	10% {
		transform: scale(0.8) rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: scale(0.8) rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: scale(0.8) rotate(4deg);
	}

	80% {
		transform: scale(0.8) rotate(-2deg);
	}

	90% {
		transform: scale(0.8) rotate(2deg);
	}
}
/* for Firefox */
@-moz-keyframes scroll-text-anim {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes scroll-text-anim {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-text-anim {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
