@font-face {
	font-family: Virgil;
	src:
		url('/assets/Virgil.woff2') format('woff2');
}

:root {
  --opacity: 1;
  --border-color: #d2d2d2;
}

html,
body {
  cursor: url("/assets/sunflower.png"), auto;
  height: 100%;
  background-color: #ffffff;
  background-image: url('/assets/test.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Virgil;
  color: #f0f0f0;
}

header,
main {
  text-align: center;
  margin-bottom: 32px;
}

h1 {
  font-size: 6rem;
  opacity: var(--opacity);
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

main {
    max-width: 500px;
    margin: 0 auto;
}

.links-container {
  opacity: var(--opacity);
  padding: 32px;

  border: 2px solid var(--border-color);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.links {
    margin: 0 auto;
    padding: 0;
    max-width: 65%;
    font-size: 24px;
}

li:nth-child(even) a {
  color: rgb(173, 173, 173);
}

a {
  color: rgb(221, 221, 221);
}

li {
    list-style: none;
}

.album {
  animation: album 4s ease 0s infinite normal forwards;
  transform: scale(0.8);
  margin-bottom: 15px;
  max-height: 256px;
}

@keyframes album {
	0%,
	100% {
		transform: scale(0.8) rotate(0deg);
		transform-origin: 50% 100%;
	}

	10% {
		transform: scale(0.8) rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: scale(0.8) rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: scale(0.8) rotate(4deg);
	}

	80% {
		transform: scale(0.8) rotate(-2deg);
	}

	90% {
		transform: scale(0.8) rotate(2deg);
	}
}
/* for Firefox */
@-moz-keyframes scroll-text-anim {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes scroll-text-anim {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-text-anim {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.sleepy-zone-webring-container {
  all: unset;

  display: flex;
  flex-direction: column;

  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;

  border: 2px solid var(--border-color);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  opacity: var(--opacity);
}

.sleepy-zone-webring-description {
  margin-block-end: 0.5em;
}

.sleepy-zone-webring-container a {
  text-decoration: none;
  border-bottom: 1px solid hsl(275, 57%, 68%);
}

.sleepy-zone-webring-site-links {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  list-style: none;
  margin: 0;
  padding: 0;
}

.sleepy-zone-webring-prev-site a::before {
  content: "<- ";
  margin-inline-end: 1ch;
}

.sleepy-zone-webring-next-site a::after {
  content: " ->";
  margin-inline-start: 1ch;
}
